* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

/* Navigation */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #121d31;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: #121d31;
    font-weight: 600;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}

.navigation a:hover,
.navigation a.active {
    color: #333;
    background: #fff;
    border-radius: 30px;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}

.navigation a:hover span,
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

/* Homepage Background */

.homebackground {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/bearsbackgroundimage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#text {
    position: absolute;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 3px 4px #333;
}

.homemain {
    background-color: #121d31;
    height: 950px;
    padding-top: 90px;
}

/* Article Preview/Advertisements */

.maincontainer {
    display: flex;
    justify-content: center;
    color: #fff;
    column-gap: 50px;
}

.articlepreview {
    width: 615px;
    min-width: 615px;
}

.articlepreview a {
    text-decoration: none;
    color: #FF6F26;
}

.articlepreview a:hover {
    padding: 5px 10px;
    background-color: #FF6F26;
    color: white;
    border-radius: 50px;
    transition: .25s;
}

/* Advertisements */

.boxad {
    background-color: #595968;
    height: 202px;
    width: 556px;
    padding: 15px 35px 0px 35px;
}

.boxlink {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}

.boxlink:hover {
    color: #FF6F26;
    transition: .25s;
}

.author {
    color: rgb(255,255,255,.6);
    line-height: 75px;
}

.advertisement {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

h3 {
    line-height: 50px;
}

p {
    line-height: 30px;
    font-size: 1.15rem;
}

h2 {
    font-size: 2.25rem;
}

.previewauthor {
    color: rgb(255,255,255,.6);
}

/* Footer Css */

footer {
    height: 571px;
    background-color: #63C1E6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerheadcontainer {
    
    height: 130px;
    padding-top: 60px;
}

.footeremailcontainer {
    height: 50px;
}

.submitcontainer {
    height: 100px;
}

.footeremailhead {
    font-size: 2.25rem;
    color: #121d31;
}

.emailbox {
    width: 360px;
    height: 35px;
    font-size: 1rem;
    padding-left: 10px;
}

.submit {
    width: 360px;
    height: 35px;
    background-color: #FF6F26;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border: none;
}

.footerline {
    width: 85vw;
    height: 1px;
    background-color: #121d31;
    min-width: 900px;
}

.footerlogo a {
    color: #121d31;
}

.footernav {
    display: flex;
    width: 80vw;
    height: 260px;
    padding-top: 20px;
    justify-content: space-between;
    min-width: 900px;
}

table {
    width: 45vw;
    min-width: 550px;
    height: 150px;
}

table a {
    color: #121d31;
}

th {
    text-align: start;
    font-size: 1.35rem;
}

td {
    width: 25%;
    font-size: 1rem;
    font-weight: 600;
}

.footercopyright {
    height: 30px;
    background-color: #121d31;
    color: white;
    width: 100%;
    text-align: center;
    font-size: .75rem;
    padding-top: 6px;
}

.footercopyright a {
    color: white;
    text-decoration: underline;
}